**/*.aab
**/*.apk
**/*.app
**/*.booproj
**/*.csproj
**/*.exe
**/*.lnk
**/*.mdb
**/*.mdb.meta
**/*.meta
**/*.opendb
**/*.pdb
**/*.pdb.meta
**/*.pidb
**/*.pidb.meta
**/*.sln
**/*.suo
**/*.svd
**/*.tmp
**/*.unitypackage
**/*.unitypackage.meta
**/*.unityproj
**/*.url
**/*.user
**/*.userprefs
**/*.VC.db
**/.consulo/
**/.gradle/
**/.utmp/*
**/.vs/
**/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
**/[Aa]ssets/[Ss]treamingAssets/aa.meta
**/[Aa]ssets/[Ss]treamingAssets/aa/*
**/[Aa]ssets/AssetStoreTools*
**/[Aa]ssets/Plugins/Editor/JetBrains*
**/[Bb]uild/
**/[Bb]uilds/
**/[Dd]esktop.ini
**/[Ii]gnore.conf
**/[Ll]ibrary/
**/[Ll]ogs/
**/[Mm]emoryCaptures/
**/[Oo]bj/
**/[Rr]ecordings/
**/[Tt]emp/
**/[Uu]ser[Ss]ettings/
**/crashlytics-build.properties
**/ExportedObj/
**/ICON.ico
**/LOGS.txt
**/sysinfo.txt
!**/[Bb]uild/Web/
!**/[Bb]uild/Web/**
!**/[Bb]uilds/Web/
!**/[Bb]uilds/Web/**
