<?xml version="1.0" encoding= "UTF-8"?>
<Settings>
  <Area>Arena</Area>

  <Monsters>
    <Monster>
      <!-- <Kind>Borka</Kind> -->
      <!-- <Name>…</Name> -->
    </Monster>
  </Monsters>

  <Options>
    <Music>67.5</Music>
    <Sound>35.0</Sound>
  </Options>

  <Statistics>
    <ArenaVisited>False</ArenaVisited>
    <AttackCount>0</AttackCount>
    <DefeatCount>0</DefeatCount>
    <DistanceMoved>0.0</DistanceMoved>
    <HasAskedName><!-- Guide, … --></HasAskedName>
    <HighScore>0</HighScore>
    <MonstersDefeated>0</MonstersDefeated>
    <MonstersTamed><!-- Borka, … --></MonstersTamed>
    <TameAttempts>0</TameAttempts>
    <Time>0.0</Time>
  </Statistics>
</Settings>
